#admin {
  width: 100%;
}

main#admin {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  overflow-y: auto;
}

#left-column {
  position: fixed;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 1rem 2rem;
  padding-top: 3rem;
  background-color: #05B022;
  user-select: none;
  pointer-events: none;
  width: 130px;
}

#right-column {
  margin-left: 130px;
  width: 100%;
  height: 100%
}

#nav-admin {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 2rem 2rem;
}

#nav-admin {
  padding-bottom: 0;
}

#info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  user-select: none;
}


#nav-admin a {
  color: #f00;
  text-decoration: none;
}

#nav-admin a:hover {
  text-decoration: underline;
}

#head-bar {
  display: flex;
  flex-direction: column;
  padding: 0 2rem 1rem 2rem;
}

#bar-buttons {
  display: flex;
  justify-content: space-between;
}


#bar-buttons #searchPage {

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #e0e0e0;
  border-radius: 10px;
}

#bar-buttons #searchPage input {
  background-color: transparent;
  border: none;
  font-size: 1.3rem;
  width: 230px;
}

#bar-buttons #searchPage button {
  border: transparent;
  cursor: pointer;
}

#bar-buttons #goBackPage {
  border: transparent;
  cursor: pointer;
}

#bar-buttons #searchPage button:hover {
  opacity: .6;
}

#bar-buttons #searchPage i {
  color: #05B022;
  font-size: 30px;
}


#box {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  border-collapse: collapse;
  margin: 1rem 0 3rem;
}

th,
td {
  padding: .5rem .5rem;
  font-size: 1.3rem;
  user-select: none;
}

td {
  max-width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

th {
  font-weight: 400;
  opacity: .7;
  text-align: left;
}

table:first-child th {
  border-bottom: 1px solid #05B022;
}

tr:not(table :first-child):hover {
  background-color: #05B02255;
}



tr :nth-child(1),
tr :nth-child(2) {
  min-width: 250px;
}

tr :last-child {
  background-color: transparent;
  min-width: 70px;
  color: #05B022;
  font-size: 2rem;
  text-align: center;
  cursor: pointer;
}

#box p {
  text-align: center;
  font-size: 1.2rem;
  max-width: 420px;
}

#bar-buttons #search {
  padding: 5px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #e0e0e0;
  border-radius: 10px;
}

#bar-buttons #searchPage button {
  background-color: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

#bar-buttons #searchPage input {
  background-color: transparent;
  border: none;
  font-size: 1.3rem;
  width: 230px;
}

#th-logo-partido {
  display: flex;
  align-items: center;
  justify-content: center;
}

#th-logo-partido {
  gap: 10px;
  width: 75px;
  height: 75;
  box-sizing: border-box;
}

#box-image {
  width: 70px;
}

#imageParty {
  width: 100%;
  height: 100%;
  object-fit: cover;
}