#cancelButtonIcon {
  border: none;
  border-radius: 50%;
  position: absolute;
  top: 20%;
  left: 40%;
}


form #err {
  color: #f00;
  font-weight: 500;
}

#registerEleitor h1 {
  font-weight: 600;
}

#registerEleitor #labelImg {
  top: 40%;
  left: 25%;
}

#labelImg #newImage {
  object-fit: cover;
}

#divButton {
  margin-top: 3rem;
}

#uploading {
  object-fit: cover;
}

#box-image {
  display: flex;
  align-items: center;
}


#divButton #buttonEdit {
  background-color: #05B022;
  width: 80%;
  padding: 0.5rem;
  border-radius: 20px;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
  transition: .2s;
}