#dashboard {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    min-height: 100vh;
    overflow-y: hidden;
}
::-webkit-scrollbar {
    display: none;
}
#dashboard .left-panel {
    background-color: #05B022;
    width: 450px;
    height: 100vh;
    align-items: flex-start;
    padding-top: 2rem;
}
#dashboard .left-panel img {
    width: 200px;

}
#dashboard .right-panel {
    padding: 1rem;
    width: 100%;    
    height: 100vh;
    background-color: #fff;
}
#dashboard .info-admin {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 1rem .3rem;
}
#dashboard .info-admin .adm {
    display: flex;
    gap: .5rem;
    width: min-content;
    align-items: center;
    user-select: none;
    pointer-events: none;
}
#dashboard .info-admin .adm img {
    width: 30px;
    height: auto;
}
#dashboard .info-admin .adm span {
    text-wrap: nowrap;
}
#dashboard .info-admin button {
    border: none;
    background-color: transparent;
    color: #f00;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 5px;
}
#dashboard .info-admin button:hover {
    text-decoration: underline;
}
#dashboard .box-actions {
    display: flex;
    gap: 2.5rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 5rem;
    padding-top: 5rem;
}
#dashboard .box-actions .action {
    user-select: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    background-color: #00E327;
    opacity: .7;
    padding: 2rem;
    color: #fff;
    height: min-content;
    border-radius: 15%;
    width: 350px;
    height: 300px;
    transition: .5s;
}
#dashboard .box-actions .action:hover {
    opacity: .8;
    scale: 1.02;
}
#dashboard .box-actions .action .name {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    padding-bottom: 1rem;
    font-size: 2rem;
    font-weight: 600;
}
#dashboard .box-actions .action .what-for {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    font-size: 3.6rem;
    font-weight: 700;
}